/* Estilo geral */
body {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    background: lightgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background: #121212;
    color: #f5f5f5;
}

header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: rgb(5, 101, 79);
    border: 8px solid rgb(5, 56, 101);
    border-radius: 25px;    
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    font-size: 25px;
    text-align: justify;
    text-indent: 3em;
    padding-left: 25px;
    padding-right: 25px;
}

#title {
    margin-bottom: -19px;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 3px;
}

.img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background: rgb(5, 101, 79);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.toggle-wrapper {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(5, 101, 79);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggle-button:hover {
    background-color: rgb(5, 56, 101);
}
